<%- include('../includes/header') -%>
<link rel="stylesheet" href="/css/form.css" />
<link rel="stylesheet" href="/css/home.css" />
</head>
<body>
  <header>
    <nav>
      <h1 id="brand">Relax</h1>
    </nav>
  </header>

  <div class="main-container">
    <% if(errorMessage){ %>
      <div class="div--message div--message--error"><%= errorMessage %></div>
    <% } %>
    <div class="form-container">
      <form action="/new-password" class="form-style" method="post">
        <h2>Reset Password</h2>
        <div class="inner-column">
          <div>
            <label for="password">Enter New Password</label>
            <input type="password" name="password" id="password" />
          </div>

          <div>
            <label for="password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password" />
          </div>
        </div>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="userToken" value="<%= userToken %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="reset-btn">Reset Password</button>
      </form>
    </div>

    <div class="copyright-info">
      <p>ⓒ 2022 noberto,Inc. All rights reserved</p>
    </div>
  </div>
</body>
</html>
