<%- include('../includes/header') -%>
<link rel="stylesheet" href="/css/form.css" />
</head>
<body>
  <header>
    <nav>
      <h1 id="brand">Pain</h1>
      <div class="top-nav-info">
        <div class="date-time"><em>Date...</em></div>
        <q
          ><em
            >Breath, buddy. This is just a chapter, not your whole story.</em
          ></q
        >
      </div>
    </nav>
  </header>

  <main>
    <div>
      <form
        action="<% if(editing){ %> /edit-pain <% }else{ %> /records/pain <% } %>"
        method="post"
        class="form-control"
      >
        <input
          type="text"
          name="title"
          placeholder="What's the matter?"
          value="<% if(editing){ %> <%= painRec.title %> <% } %>"
        />
        <textarea
          name="description"
          cols="30"
          rows="10"
          placeholder="Tell me more..."
        >
          <% if(editing){ %> <%= painRec.description %> <% } %>
          </textarea
        >
        <% if (editing) { %>
          <input type="hidden" name="painId" value="<%= painRec.id %>" />
        <% } %>
        <div class="form-buttons">
          <button type="submit" name="button" value="pain">
            <% if(editing){ %> Update <% }else{ %> Keep <% } %>
          </button>
          <button type="reset">Discard</button>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form>
    </div>
  </main>
</body>
</html>

<!-- ejslint - https://github.com/RyanZim/EJS-Lint -->
